@font-face {
  font-family: GWENT;
  src: url(/fonts/hinted-GWENT-ExtraBold.woff) format("woff"),
    url(/fonts/hinted-GWENT-ExtraBold.woff2) format("woff2"),
    url(/fonts/hinted-GWENT-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: HalisGR-Light;
  src: url(/fonts/hinted-HalisGR-Light.woff2) format("woff2"),
    url(/fonts/hinted-HalisGR-Light.woff) format("woff"),
    url(/fonts/hinted-HalisGR-Light.ttf) format("truetype");
}

@font-face {
  font-family: HalisGR-Book;
  src: url(/fonts/hinted-HalisGR-Book.woff2) format("woff2"),
    url(/fonts/hinted-HalisGR-Book.woff) format("woff"),
    url(/fonts/hinted-HalisGR-Book.ttf) format("truetype");
}

body:not(.transparent) {
  background: #121315 repeat-y center top;
  background-image: url(./img/section-bg/bg-1920.jpg);
}

button {
  background: transparent;
  border: none;
}

.wrapper {
  margin-top: -20px;
  padding-top: 70px;
  position: relative;
  z-index: 1;
}

.content {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.yellow-text {
  background-image: linear-gradient(to right, #fadf7a, #e2a73e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
.title {
  font-family: GWENT, sans-serif;
  margin: 0;
}

.player-header {
  background: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  border-width: 20px;
  border-style: solid;
  border-image-source: url(./img/profile/frame.png);
  border-image-slice: 20;
  border-image-repeat: round;
  box-shadow: 0 2px 6px rgb(0 0 0 / 60%);
  margin-bottom: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 144px;
}

.player-header__left {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-align: center;
  align-items: center;
  margin-left: -7px;
}

.player-header__basic {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.player-header-name {
  font-family: GWENT, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  display: inline-block;
  margin-right: 34px;
  max-width: 69%;
  max-height: 73px;
  overflow: hidden;
  word-break: break-word;
}

.player-header__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-family: HalisGR-Light, sans-serif;
  font-weight: 300;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin: auto;
}

.player-header-logout {
  margin-right: 32px;
  position: relative;
  display: inline-block;
}

.player-header-logout button {
  font-size: 22px;
  cursor: pointer;
  padding: 8px;
}

.player-header-data {
  width: 128px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  position: relative;
  color: #d9d8cb;
  font-family: HalisGR-Light, sans-serif;
}

.player-header-data::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    #362e20 15%,
    #362e20 85%,
    transparent 100%
  );
}

.player-header-data strong {
  display: block;
  text-align: center;
  font-family: GWENT, sans-serif;
  font-size: 32px;
  line-height: 1.5;
}

.main-content {
  background: url(./img/profile/bg-1920.jpg) repeat;
  box-shadow: 0 4px 12px rgb(0 0 0 / 70%);
  margin-bottom: 20px;
  padding: 23px;
  position: relative;
  border-width: 23px;
  border-style: solid;
  border-image-source: url(./img/profile/double-frame.png);
  border-image-slice: 23;
  border-image-outset: 0;
  border-image-repeat: round;
}

.progress-bar {
  position: relative;
}

.progress-bar__logo {
  position: absolute;
  top: -16px;
  right: calc(100% - 45px);
  z-index: 11;
}

.progress-bar__bar {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0d0d0c),
    color-stop(#20201f),
    to(#0d0d0c)
  );
  background: -webkit-linear-gradient(top, #0d0d0c, #20201f, #0d0d0c);
  background: linear-gradient(to bottom, #0d0d0c, #20201f, #0d0d0c);
  box-shadow: 0 1px 6px rgb(0 0 0 / 75%) inset, 0 4px 8px rgb(0 0 0 / 40%);
  border: 1px solid #564823;
  height: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  color: #d9d8cb;
  font-family: HalisGR-Book, sans-serif;
}

.progress-bar__bar .progress {
  background: url(../img/profile/bars/gwent-bar.jpg) repeat right top;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
}

.progress-bar__bar .progress::after {
  content: "";
  display: block;
  background: url(../img/profile/bars/gwent-end.png) no-repeat;
  width: 6px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 100%;
}

.progress-bar__bar .progress--bronze {
  background-image: url(../img/profile/bars/bronze-bar.jpg);
}
.progress-bar__bar .progress--bronze::after {
  background-image: url(../img/profile/bars/bronze-end.png);
}

.progress-bar__bar .progress--silver {
  background-image: url(../img/profile/bars/silver-bar.jpg);
}
.progress-bar__bar .progress--silver::after {
  background-image: url(../img/profile/bars/silver-end.png);
}

.progress-bar__bar .progress--gold {
  background-image: url(../img/profile/bars/gold-bar.jpg);
}
.progress-bar__bar .progress--gold::after {
  background-image: url(../img/profile/bars/gold-end.png);
}

.progress-bar__bar .progress--empty {
  background-image: url(../img/profile/bars/empty-bar.jpg);
}
.progress-bar__bar .progress--empty::after {
  background-image: url(../img/profile/bars/empty-end.png);
}

.progress-bar__bar .progress-placeholder.progress--bronze {
  background-image: url(../img/profile/bars/bronze-bar-placeholder.jpg);
}
.progress-bar__bar .progress-placeholder.progress--bronze::after {
  background-image: url(../img/profile/bars/bronze-end-placeholder.png);
}

.progress-bar__bar .progress-placeholder.progress--silver {
  background-image: url(../img/profile/bars/silver-bar-placeholder.jpg);
}
.progress-bar__bar .progress-placeholder.progress--silver::after {
  background-image: url(../img/profile/bars/silver-end-placeholder.png);
}

.progress-bar__bar .progress-placeholder.progress--gold {
  background-image: url(../img/profile/bars/gold-bar-placeholder.jpg);
}
.progress-bar__bar .progress-placeholder.progress--gold::after {
  background-image: url(../img/profile/bars/gold-end-placeholder.png);
}

.progress-bar__bar .progress-placeholder.progress--gwent {
  background-image: url(../img/profile/bars/gwent-bar-placeholder.jpg);
}
.progress-bar__bar .progress-placeholder.progress--gwent::after {
  background-image: url(../img/profile/bars/gwent-end-placeholder.png);
}

.progress-bar__bar .progress_data {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 11;
  transition: width 0.5s ease;
}

.progress-bar__bar .progress_count,
.progress-bar__bar .progress_overall {
  text-shadow: 0 0 10px #000, 0 0 2px #000;
}

.conquest-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 50px;
}
.conquest-bar--disactivate {
  margin-bottom: 30px;
  min-height: auto;
  margin-top: -60px;
}

.conquest-bar-view {
  flex-direction: column-reverse;
  align-items: stretch;
}
.conquest-bar-view .conquest-bar-progress {
  margin-left: 36px;
}

.conquest-bar-view .conquest-bar-title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.conquest-bar-view .conquest-bar-title h2 {
  position: relative;
  width: 80%;
  margin: auto;
}

.conquest-bar-view .conquest-bar-title h2::before {
  content: attr(data-title);
  text-shadow: 0 0 10px #000, 0 0 2px #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.conquest-bar-actions-left {
  margin-right: 10px;
}
.conquest-bar-actions-right {
  margin-left: 10px;
}
.conquest-bar-title {
  padding-right: 20px;
}
.conquest-bar-title,
.conquest-bar-progress {
  flex: 1;
}

.conquest-bar-active {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(./img/netdecking/guide-invalid-8500a138.png);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.conquest-bar-active.conquest-bar-active--active {
  background-image: url(./img/netdecking/guide-valid-9aa36cd6.png);
}

.conquest-bar-small-button {
  background-image: url(../img/profile/refer-a-friend/romb.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: GWENT, sans-serif;
  font-size: 42px;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
}

.conquest-bar-edit::after {
  content: "";
  background-image: url(../img/profile/refer-a-friend/pencil.png);
  background-size: cover;
  width: 30px;
  height: 30px;
}
.conquest-bar-validate::after {
  content: "";
  background-image: url(../img/profile/refer-a-friend/check.png);
  background-size: cover;
  width: 30px;
  height: 30px;
}
.conquest-bar-delete::after {
  content: "";
  background-image: url(../img/profile/refer-a-friend/delete.png);
  background-size: cover;
  width: 30px;
  height: 30px;
}

.scratched-title {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

.scratched-title span {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.scratched-title span::after,
.scratched-title span::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 454px;
}

.scratched-title span::before {
  right: 100%;
  margin-right: 20px;
  background: url(./img/header-line-left.png) no-repeat right center;
}

.scratched-title span::after {
  left: 100%;
  margin-left: 20px;
  background: url(./img/header-line-right.png) no-repeat left center;
}

.g-button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 154px;
  padding: 6px 10px;
  border-width: 12px 24px;
  border-style: solid;
  border-image-source: url(./img/netdecking/gold-button-e0b80182.png);
  border-image-slice: 12 24 fill;
  border-image-outset: 0;
  border-image-repeat: stretch;
  opacity: 1;
  pointer-events: auto;
  filter: drop-shadow(rgb(0, 0, 0) 0px 2px 4px);
  color: rgb(0, 0, 0);
  font-family: GWENT, sans-serif;
  font-size: 20px;
  margin: -4px;
  cursor: pointer;
}

.input-title {
  font-size: 1.5em;
  font-family: GWENT, sans-serif;
  background: rgb(0, 0, 0);
  padding: 8px;
  margin: -8px;
  border: 0;
  color: #fadf7a;
  width: calc(100% - 38px);
  border: 1px solid #564823;
}

.input-value {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.input-value::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -17px;
  right: calc(100% - 45px);
  z-index: 11;
  background-size: cover;
  width: 46px;
  height: 46px;
  pointer-events: none;
}

.input-value input {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0d0d0c),
    color-stop(#20201f),
    to(#0d0d0c)
  );
  background: -webkit-linear-gradient(top, #0d0d0c, #20201f, #0d0d0c);
  background: linear-gradient(to bottom, #0d0d0c, #20201f, #0d0d0c);
  box-shadow: 0 1px 6px rgb(0 0 0 / 75%) inset, 0 4px 8px rgb(0 0 0 / 40%);
  border: 1px solid #564823;
  height: 36px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  color: #d9d8cb;
  font-family: HalisGR-Book, sans-serif;
  width: 36px;
  font-size: 14px;
  padding-left: 26px;
}

.input-value.input-value--bronze::before {
  background-image: url("./img/profile/bars/bronze.png");
}

.input-value.input-value--silver::before {
  background-image: url("./img/profile/bars/silver.png");
}

.input-value.input-value--gold::before {
  background-image: url("./img/profile/bars/gold.png");
}

.input-value.input-value--gwent::before {
  background-image: url("./img/profile/bars/gwent.png");
}

.flip-list-move {
  transition: transform 1s;
}

.see-conquest {
  float: right;
  text-decoration: none;
}

.credits {
  color: #575652;
  font-family: HalisGR-Book, sans-serif;
  font-style: italic;
  padding: 0 12px;
}
